
.busqueda__btn{
    width: 182px;
    height: 51px;
    box-sizing: border-box;
    border: 1px solid #2A7AE4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;
}


