
.rodapie{
    background-color: #FFFFFF;
}

.rodapie__01{
    margin:0;
    padding-top:32px;
    text-align: center;
    color:#464646;
   
}

.rodapie__02{
    margin:0;
    text-align: center;
    padding-bottom:32px;
    color:#464646;
     


}



