
.starwars__items0{
    display: flex;
    align-items: center;
    
}

.starwars__titulo{
    margin-left: 80px;
    margin-top: 64px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
}

.starwars__titulo__vertodo{
    margin-top: 64px;
    position: relative;
    left: 1070px;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    
}
.starwars__titulo__flecha{
    
    position: relative;
    left: 1070px;
    top:24px;
}

.starwars__items{

    display: flex;
    margin-left: 80px;
    gap:50px;
    
}


.starwars__galeria__imagen{

    width: 176px;
    height: 174px;

}

.starwars__galeria__producto{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #464646;
    font-weight: 500;
    font-size: 14px;

}

.starwars__galeria__precio{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
}

.starwars__galeria__ver{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
}
